doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future hom eof something magical!
    p Bacon ipsum dolor amet kevin jerky landjaeger swine. Landjaeger meatloaf biltong jowl rump beef ribs. Beef ribs venison pastrami turkey, turducken prosciutto biltong kevin. Ground round flank turducken prosciutto, picanha boudin shank swine ham hock.